#views-exposed-form-weather-presenters-public-member-grid label input{
  color: black!important;
}

#views-exposed-form-story-grid-stories-grid-page, #views-exposed-form-weather-presenters-public-member-grid{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap	;
}

#views-exposed-form-story-grid-stories-grid-page .js-webform-type-radios, #views-exposed-form-weather-presenters-public-member-grid .js-webform-type-radios{
    display: none;
}

#edit-name{
    margin-top: 10px;
}

#views-exposed-form-story-grid-stories-grid-page .js-form-type-textfield input, #views-exposed-form-weather-presenters-public-member-grid .js-form-type-textfield input{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border:none;
  padding: 12px;
}

.js-form-type-textfield input::placeholder {
  color: #B7B7B7;
  opacity: 1;
}


.js-webform-radios label{
    padding: 0 15px;
    cursor:pointer;
}

.js-webform-radios input{
  display: none;
}

.js-webform-radios input:checked + label{
  text-decoration:underline;
  font-weight: bold;
}

/************* CUSTOM SELECTS ***************************/
#views-exposed-form-story-grid-stories-grid-page select,
#views-exposed-form-weather-presenters-public-member-grid select{
  /*display: none; /*hide original SELECT element:*/
}

#views-exposed-form-story-grid-stories-grid-page .js-form-type-select label,
#views-exposed-form-weather-presenters-public-member-grid .js-form-type-select label{
  display: none;
}

.select-selected {
  background-color: #35B996;
}

.select-selected:after {
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  background-color: #35B996;
  z-index: 99;
}

.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


/****************** MEDIA QUERIES *******************************/

@media(min-width:768px) {
  #views-exposed-form-story-grid-stories-grid-page .js-webform-type-radios, #views-exposed-form-weather-presenters-public-member-grid .js-webform-type-radios{
      order: -1;
      display: flex;
      flex-flow: row nowrap;
  }

  #views-exposed-form-story-grid-stories-grid-page .js-form-type-select, #views-exposed-form-weather-presenters-public-member-grid .js-form-type-select{
      display: none;
  }
}
