#views-exposed-form-public-weather-presenters-page-1 label input,
{
  color: black!important;
}

.public-view .views-exposed-form{
  color:black;
}
.public-view .views-exposed-form label{
  color:black;
}

#views-exposed-form-story-grid-stories-grid-page, #views-exposed-form-public-weather-presenters-page-1{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: 20px;
  margin-left: 15px
}

#views-exposed-form-story-grid-stories-grid-page .js-webform-radios .form-radios,
#views-exposed-form-public-weather-presenters-page-1 .js-webform-type-radios{
    display: none;
}

#edit-name{
    margin-top: 10px;
}

#views-exposed-form-story-grid-stories-grid-page .js-form-type-textfield input, #views-exposed-form-public-weather-presenters-page-1 .js-form-type-textfield input{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border:none;
  padding: 12px;
  color: #000000;
}

.js-form-type-textfield input::placeholder {
  color: #B7B7B7;
  opacity: 1;
}


.js-webform-radios label{
    padding: 0 15px;
    cursor:pointer;
}

.js-webform-radios input{
  display: none;
}

.js-webform-radios input:checked + label{
  text-decoration:underline;
  font-weight: bold;
}

.js-form-type-select, .js-form-type-select select,
.js-form-type-textfield, .js-form-type-textfield input{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.js-form-type-select select{
  background-color: #33BCB3;
  color:#FFFFFF;
  border:none;
  padding: 15px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

#edit-field-founding-member-value-1--2{
  background-color: #FFFFFF;
  color:#3EACD5;
  font-size: 18px;
  font-weight: bold;
  width: 250px;
  margin: auto;
  padding: 0;
  margin-bottom: 15px;
}

#edit-field-founding-member-value-1--2 option, #edit-field-founding-member-value--wrapper label{
  color:#35B996;
}

#edit-field-founding-member-value--wrapper label{
  font-size: 18px;
  font-weight: bold;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

#edit-field-founding-member-value-1--2 option:checked, #edit-field-founding-member-value--wrapper input:checked + label{
  color:#3EACD5;
  text-decoration:none;
}


.form-item-location-dropdown select{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.weatherpresenter-grid{
  margin-top: 0px;
}

#edit-submit-public-weather-presenters{
  display: none;
}

/****************** MEDIA QUERIES *******************************/
@media (min-width:576px) {

  .js-form-type-select, .js-form-type-select select,
  .js-form-type-textfield, .js-form-type-textfield input{
    max-width: none;
  }

}



@media(min-width:992px) {
  #views-exposed-form-story-grid-stories-grid-page .js-webform-radios .form-radios, #views-exposed-form-public-weather-presenters-page-1 .js-webform-type-radios{
      order: -1;
      display: flex;
      flex-flow: row nowrap;
      font-size: 14px;
  }

  #views-exposed-form-story-grid-stories-grid-page .js-webform-radios label, #views-exposed-form-public-weather-presenters-page-1 .js-webform-type-radios label{
      padding-left: 0;
  }

  #views-exposed-form-story-grid-stories-grid-page .js-form-type-select, #views-exposed-form-public-weather-presenters-page-1 .js-form-type-select{
      display: none;
  }

  #views-exposed-form-story-grid-stories-grid-page .form-item-title{
    order: 2;
  }

  #edit-field-founding-member-value--wrapper{
    width: 100%;
    margin-bottom: 30px;
  }

  #edit-field-founding-member-value--wrapper .js-webform-radios, #edit-parent--wrapper .js-webform-radios{
    display: flex;
    flex-flow: row nowrap;
  }

  #edit-parent--wrapper{
    width: 60%;
    font-size:14px;
    margin-bottom: 30px;
  }

  .form-item-title{
    width: 40%;
    margin: 0 0 15px auto;
  }

}
