{% extends "page.html.twig" %}

{% block content %}
  {{page.content.cwbtheme_page_title}}
  <div id="content-area" class="story-grid-page">
    {{ page.content.cwbtheme_content }}
  </div>
  <form class="" action="stories_grid_extender" method="post">
    <input type="submit" class="btn-blue use-ajax-submit" id="view_more" name="view_more" value="View more">
  </form>

{% endblock %}
