html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 0;
}

.container::after {
  clear: both;
  content: "";
  display: block;
}

@media screen and (min-width: 45em) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 60em) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 65.95745%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 45em) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
    margin-left: 25.80645%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 60em) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 74.46809%;
    margin-left: 25.53191%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 45em) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
    margin-left: 25.80645%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 60em) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 40.42553%;
    margin-left: 25.53191%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 45em) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: -77.41935%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .one-sidebar.sidebar-first #sidebar-first {
    margin-left: -103.22581%;
  }
}

@media screen and (min-width: 60em) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    margin-left: -68.08511%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .one-sidebar.sidebar-first #sidebar-first {
    margin-left: -102.12766%;
  }
}

@media screen and (min-width: 45em) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 60em) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

#footer {
  float: none;
  clear: both;
}

#header, #footer, #sidebar-first, #sidebar-second, #navigation {
  background: rgba(170, 170, 170, 0.2);
}

#header, #footer, .mission, .breadcrumb, .node {
  clear: both;
}

/* - - - CWB theming - - - */

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/* LICHTBLAUW : #43AED6 */

/* LICHTGROEN : #35B996 */

/* APPELBLAUWZEEGROEN GROEN #33BCB3 */

/* APPELBLAUWZEEGROEN BLAUW #3AC2D7 */

body {
  font-family: 'Ubuntu', sans-serif;
}

#header {
  background-color: #35b996;
}

#block-cwbtheme-main-menu>ul>li a {
  color: white;
  text-transform: uppercase;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.about {
  display: block;
  width: 100%;
  margin: 5em auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.about_text{
  width: 70%;
  align-self: center;
}

div h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #43AED6;
  border-bottom: 2px solid #35b996;
  display: inline-flex;
}

.btn-blue {
  background-color: #43AED6;
  text-decoration: none;
  color: white;
  padding: 10px 25px;
  font-size: 0.8em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

/* FOOTER */

footer {
  background-color: #35b996 !important;
}

footer#footer-bottom {
  background-color: #33bcb3 !important;
}

footer .container, header .container {
  max-width: inherit;
}

footer #block-mainnavigation {
  background-color: #35b996;
  display: block;
  width: 100%;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
  border-bottom: 2px solid white;
}

footer #block-footerwebsiteby>div>p {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 10px;
}

footer h2 {
  color: white;
  border-bottom: 0px solid white;
}

footer #block-footerwebsiteby, footer #block-mainnavigation, footer .contextual-region {
  padding: 15px;
}

footer #block-mainnavigation>ul, footer #block-membersfooter>ul {
  display: flex;
  max-width: 425px;
  height: 120px;
  flex-direction: column;
  flex-wrap: wrap;
}

footer #block-mainnavigation>ul li {
  display: block;
  width: 175px;
  margin: 2px 10px;
  padding-bottom: 5px;
}

footer #block-mainnavigation>ul li a {
  text-transform: uppercase;
  font-size: 0.8em;
}

footer#footer-bottom {
  padding: 5px 25px;
}

#block-footerlogo > div.__body.quickedit-field > p:nth-child(1) > img {
  display: block;
  width: 150px;
  float: left;
  margin: 25px;
}

/* Responsive Menu */

#rm-removed>div {
  display: none
}

.responsive-menus.responsive-menus-0-0 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.responsive-menus.responsive-menus-0-0.responsified.responsive-toggled {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

#header-region .responsified span.toggler {
  border-bottom: 0px solid white;
  border-radius: 0;
  display: block;
  width: 150px;
  background-color: #35b996;
  box-shadow: 0px 0px 0px #35b996;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 20px 10px;
}

.responsive-menus.responsified .responsive-menus-simple {
  color: white;
  background-color: #35b996;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 0px solid white;
  border-radius: 0;
}

.responsive-menus.responsified .responsive-menus-simple li a {
  font-size: 1.2em;
  border-bottom: 0px solid white;
  text-align: center;
}

/* Donate Page */
#block-cwbtheme-content > article > div.content img.align-center {
  display: block;
  width: 100%;
  margin: 20px auto;
}

#block-cwbtheme-content > article > div.content img.align-right {
  display: block;
  width: 40%;
  margin: 20px 0px 20px 20px;
}

#block-cwbtheme-content > article > div.content img.align-left {
  display: block;
  width: 40%;
  margin: 20px 20px 20px 0px;
}

#block-cwbtheme-content > article > div.content h3 {
  color: #3AC2D7;
  margin-top: 20px;
  font-size: 1.1em;
}

#block-cwbtheme-content > article > div.content a {
  background-color: #43AED6;
  text-decoration: none;
  color: white;
  padding: 10px 25px;
  font-size: 0.8em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

/* Basic Page Layout */
#block-cwbtheme-page-title {
  margin-top: 3em;
}

#block-cwbtheme-content div.content {
  padding-bottom: 4em;
}









