html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 0;
}

.container::after {
  clear: both;
  content: "";
  display: block;
}

@media (min-width: 1280px){
  .container {
      max-width: 1280px;
  }
}

@media screen and (min-width: 45em) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 60em) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 65.95745%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 45em) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
    margin-left: 25.80645%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 60em) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 74.46809%;
    margin-left: 25.53191%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 45em) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
    margin-left: 25.80645%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 60em) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 40.42553%;
    margin-left: 25.53191%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 45em) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: -77.41935%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .one-sidebar.sidebar-first #sidebar-first {
    margin-left: -103.22581%;
  }
}

@media screen and (min-width: 60em) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    margin-left: -68.08511%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .one-sidebar.sidebar-first #sidebar-first {
    margin-left: -102.12766%;
  }
}

@media screen and (min-width: 45em) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 60em) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

#header, #footer, #sidebar-first, #sidebar-second, #navigation {
  background: rgba(170, 170, 170, 0.2);
}

#header, #footer, .mission, .breadcrumb, .node {
  clear: both;
}

/* - - - CWB theming - - - */

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/* LICHTBLAUW : #43AED6 */

/* LICHTGROEN : #35B996 */

/* APPELBLAUWZEEGROEN GROEN #33BCB3 */

/* APPELBLAUWZEEGROEN BLAUW #3AC2D7 */

body {
  font-family: 'Ubuntu', sans-serif;
}

#header {
  background-color: #35b996;
}

#block-cwbtheme-main-menu>ul>li a {
  color: white;
  text-transform: uppercase;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.about {
  width: 100%;
  margin: 2em auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.about h1{
  width: 60%;
  text-align: left;
  margin: 0;
  align-self: center;
}

.about_text{
  padding-top: 25px;
  width: 100%;
  align-self: center;
}

.about_logo{
  width: 100px;
  height: 100px;
  align-self: center;

}

@media(min-width:768px) {

  .about_logo{
    width: 225px;
    height: 225px;
    margin-right: 30px;
    margin-bottom: 15px;
  }

}

@media(min-width:1024px){

  .about{
    margin: 5em auto;
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: repeat(2 1fr);
  }

  .about_logo{
    grid-row: span 2;
    width: 350px;
    height: 350px;
    margin: 0 45px 0 0;
  }

  .about h1{
    width: auto;
    display: inline-flex;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .about_text{
    padding: 0;
  }
}

div h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #43AED6;
  border-bottom: 2px solid #35b996;
  display: inline-flex;
}

.node--type-faq {
    margin-bottom: 25px;
}

.node--type-faq .group-left {
    width: 60%;
}

.node--type-faq .group-right {
    width: 30%;
}

@media screen and (max-width: 1024px) {
  div.group-left, div.group-right {
    float: none !important;
    width: 100% !important;
  }
}

/* Responsive Menu */

#rm-removed>div {
  display: none
}

.responsive-menus.responsive-menus-0-0 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.responsive-menus.responsive-menus-0-0.responsified.responsive-toggled {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

#header-region .responsified span.toggler {
  border-bottom: 0px solid white;
  border-radius: 0;
  display: block;
  width: 150px;
  background-color: #35b996;
  box-shadow: 0px 0px 0px #35b996;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 20px 10px;
}

.responsive-menus.responsified .responsive-menus-simple {
  color: white;
  background-color: #35b996;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 0px solid white;
  border-radius: 0;
}

.responsive-menus.responsified .responsive-menus-simple li a {
  font-size: 1.2em;
  border-bottom: 0px solid white;
  text-align: center;
}

/* Donate Page */
#block-cwbtheme-content > article > div.content img.align-center {
  display: block;
  width: 100%;
  margin: 20px auto;
}

#block-cwbtheme-content > article > div.content img.align-right {
  display: block;
  width: 40%;
  margin: 0px 0px 20px 20px;
}

#block-cwbtheme-content > article > div.content img.align-left {
  display: block;
  width: 40%;
  margin: 0px 20px 20px 0px;
}

#block-cwbtheme-content > article > div.content h3 {
  color: #3AC2D7;
  margin-top: 20px;
  font-size: 1.1em;
}


#block-cwbtheme-content > article > div.content a:hover, #block-cwbtheme-content > article > div.content a:active {
  background-color: #35B996;
  color: white;
}

/* related articles */
#sidebar-second {
  background-color: transparent;
  margin-top: 3em;
}

#sidebar-second .views-row {
  display: flex;
  flex-direction: column;
}

#sidebar-second .views-row .views-col {
  width: 100% !important;
  max-width: 100%;
  padding: 0;
  margin: 0 0 15px 0;
}

#sidebar-second .views-row .views-col img {
    margin: 0;
}

/* Basic Page Layout */
#block-cwbtheme-page-title {
  margin-top: 3em;
}

/* more questions */

#block-cwbtheme-content .__questions summary{
  margin-bottom: 2em;
  margin-top: 2em;
}

#block-cwbtheme-content .__questions a, #block-cwbtheme-content  .__contact > div:first-child {
  font-size: 22px;
  color: #35B996;
  margin-top: 1em;
  margin-bottom: 2em;
}

#block-cwbtheme-content  .__contact input, #block-cwbtheme-content  .__contact textarea {
  border:none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}

#block-cwbtheme-content  .__contact input::placeholder, #block-cwbtheme-content  .__contact textarea::placeholder {
  color: #B7B7B7;
}

@media screen and (max-width: 1024px) {
  #block-cwbtheme-content .__questions, #block-cwbtheme-content  .__contact {
    text-align: center;
    margin: auto;
  }
}

#block-cwbtheme-content  .__contact label {
  display: none;
}

/*******************STICKY FOOTER****************/
/*Met vh want flexbox op drupal structuur is een merde*/

#content {
  min-height: calc(100vh - 210px);
}
#footer {
  min-height: 80px;
}
#footer-bottom{
  min-height: 60px;
}
