/*main styling*/

h1{
    display: inline;
    font-size: 26px;
    color: #3EACD5;
    border-bottom: 2px solid #35B996;
    text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  h1 {
    border-bottom: none;
    text-align: center;
    display: block;
  }
}

.members-view div, .public-view div {
  color: #FFFFFF!important;
}

.__social-media ul {
  display: flex;
  flex-flow: row wrap;
}

/*Member view*/

.members-view{
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 150px;
}

.members-view article{
    background-color: #43AED6;
    padding-bottom: 20px;
    margin: 0;
    margin-bottom: 25px;
    width: 300px;
    height: 395px;

}

.members-view .__user-picture, .public-view .__avatar{
    margin-bottom: 15px;
}

.members-view .__user-picture img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.members-view .__location a{
    font-size: 18px;
    color: #FFFFFF;
}

.members-view .__firstname{
    display: inline;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.members-view .__name{
    display: inline;
    font-weight: bold;
    font-size: 20px;
}

.members-view .__firstname{
    padding-left: 20px;
}

.members-view .__location{
    padding-left: 20px;
}

.members-view .__social-media{
    padding-left: 20px;
}

.members-view .__user-picture a{
    background-color: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    color: #FFFFFF;
}

.members-view .__firstname a{
    background-color: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    color: #FFFFFF;
}

.members-view .__name a{
    background-color: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    color: #FFFFFF;
}

.members-view .__social-media a{
    background-color: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    color: #FFFFFF;
}

.members-view .item-list--linkicon{
    margin-top: 18px;
    margin-bottom: 0;
    padding-left: 20px;
}

.members-view .linkicon a{
    color: #FFFFFF;
    font-size: 24px;
}

/*public member view*/

.public-view{
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 150px;
}

.public-view article{
    background-color: #35B996;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 250px;
    height: 395px;
}

@media(min-width:992px)
{
  .public-view article{
    width: 280px;
    height: 425px;

  }
}

.public-view header {
  display: none;
}

.public-view .__user-picture{
    margin-bottom: 15px;
}

.public-view .__user-picture img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.public-view .__location a{
    font-size: 18px;
    color: #FFFFFF;
}

.public-view .__firstname{
    display: inline;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.public-view .__name{
    display: inline;
    font-weight: bold;
    font-size: 20px;
}

.public-view .__firstname{
    padding-left: 20px;
}

.public-view .__location{
    padding-left: 20px;
}

.public-view .__social-media{
    padding-left: 20px;
}

.public-view .__user-picture a{
    background-color: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    color: #FFFFFF;
}

.public-view .__firstname a{
    background-color: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    color: #FFFFFF;
}

.public-view .__name a{
    background-color: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    color: #FFFFFF;
}

.public-view .__social-media a{
    background-color: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    color: #FFFFFF;
}

.public-view .item-list--linkicon{
    margin-top: 18px;
    margin-bottom: 0;
    padding-left: 20px;
}

.public-view .linkicon a{
    color: #FFFFFF;
    font-size: 24px;
}

/*user page*/

.__user-picture img, .__avater img{
    margin: 0 auto;
}

.__firstname{
    display: inline;
    color: #3EACD5;
    font-size: 26px;
    font-weight: bold;
    margin-right: 5px;
}

.__name{
    display: inline;
    color: #3EACD5;
    font-size: 26px;
    font-weight: bold;
}

.__biography div, .layout--twocol .__body div{
    font-weight: bold;
    font-size: 22px;
    color: #3EACD5;
}

.__biography p, .layout--twocol .__body p{
  font-weight: normal;
    font-size: 16px;
    color: #333;
}

.linkicon a{
    color: #43AED6;
    font-size: 25px;
    margin-right: 20px;
}

.layout--twocol{
    margin: 30px 0;
}

.layout__region--second{
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
}

.layout__region--second .item-list--linkicon{
  width: 100%;
  order: 3;
}

.layout__region--second .item-list--linkicon::after{
  width: 100%;
  order: 3;
}

.layout__region--second .__firstname, .layout__region--second .__name{
  order: -1;
}

.layout__region--second ul{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.layout__region--second .item-list--linkicon::before{
  content: "Socials";
  font-weight: bold;
  color: #3EACD5;
}

.layout__region--second .__location, .layout__region--second  .__founding-member{
  order: 2;
  width: 100%;
  color:#33BCB3;
  font-weight: bold;
}

@media screen and (min-width: 40em){

  .layout--twocol{
    margin-top: 45px;
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .layout__region--first{
    padding: 0 30px 30px 0;
  }

  .layout__region--second{
    display: grid;
    grid-template: auto  auto 1fr auto/auto 1fr auto;
    padding-bottom: 30px;
  }

  .layout__region--second .__firstname{
    grid-row: 1;
    grid-column: 1;
    }
  .layout__region--second .__name{
    grid-row: 1;
    grid-column: 2;
  }
  .layout__region--second .item-list--linkicon{
    grid-row: 1;
    grid-column: 2/3;
    width: 100%;
    text-align: right;
    margin:0;
  }

  .layout__region--second ul{
    justify-content: flex-end;
  }

  .layout__region--second .__location{
    grid-row: 2;
    grid-column: 1/3;
  }

  .layout__region--second .__founding-member{
    grid-row: 3;
    grid-column: 1/3;
  }

  .layout__region--bottom{
    grid-row: 2;
    grid-column: 1/3;
  }

  .layout__region--second .item-list--linkicon a{
    margin-right: 0;
    margin-left: 14px;
  }

}


@media(min-width:1200px) and (max-width:1280px){
  .weatherpresenter-grid .views-view-grid .col-lg-4:nth-child(n+3) article{
    margin-right: 0;
  }

  .weatherpresenter-grid .views-view-grid .col-lg-4:nth-child(3n+1) article{
    margin-left: 0;
  }

}
